grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.io.FilePermission "/path/to/data/dir", "read,write";
    permission java.util.PropertyPermission "es.networkaddress.cache.ttl", "read,write";
    permission java.security.SecurityPermission "setProperty.networkaddress.cache.ttl";
    permission java.util.PropertyPermission "es.networkaddress.cache.negative.ttl", "read";
    permission java.security.SecurityPermission "setProperty.networkaddress.cache.negative.ttl";
    permission java.security.SecurityPermission "setProperty.policy.expandProperties";
    permission java.lang.RuntimePermission "createSecurityManager";
    permission java.security.SecurityPermission "getPolicy";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.lang.RuntimePermission "getenv.KORRA_HEB_URL";
    permission java.net.URLPermission "http://dicta:8000/lemmas", "POST:Accept,Content-Type";
    // Add other necessary permissions
};

grant codeBase "jrt:/ai.korra" {
  permission java.net.URLPermission "http:*", "*:*";
  permission java.net.SocketPermission "*", "connect,resolve";
};grant {
    permission java.net.URLPermission "http://dicta:8000/lemmas", "POST:Accept,Content-Type";
};
